<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @customer.discount %>
</p>

<table>
<tbody>
    <% @customer.orders.each do |order| %>
      <tr>
       <!-- <td><%= order.customer_id %></td> -->
        <td><%= order.placed_on %></td>
        <td><%= order.status %></td>
        <td><%= order.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <strong>Total price:</strong>
  <%= @total %>
</p>

<p>
  <strong>Total price with discount:</strong>
  <%= @final%>
</p>


<%= link_to 'New Order', new_order_path(customer: @customer) %>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
